//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('RoundedMplus1c-ExtraBold', 'RoundedMplus', 'RoundedMplus1c-ExtraBold',  normal, normal)
webfont('RoundedMplus1c-Medium', 'RoundedMplus', 'RoundedMplus1c-Medium',  normal, normal)
webfont('RoundedMplus1c-Regular', 'RoundedMplus', 'RoundedMplus1c-Regular',  normal, normal)


