{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo gutter-bottom">
				<div class="container container-sm-gutters">
					<div class="promo-slider">
						<div class="swiper-container js-promo-slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<article class="promo-slide">
										<div class="row align-horisontal-between row-nowrap">
											<div class="promo-slide__content">
												<div class="promo-slide__text">
													<h2>
														<a href="page-article.html"><strong>Екзистенційна війна для Росії?</strong><br> Огляд західних медіа</a>
													</h2>
													<p>Всі деталі майбутньої взаємодії сторони наразі не розкривають. Однак партнери дійшли згоди щодо впровадження кращих практик та міжнародних стандартів для розвитку співробітництва та залучення інших представників до такої співпраці.</p>
												</div>
												<div>
													<a href="page-article.html" class="btn btn-secondary">
														<span>приєднатись</span>
													</a>
												</div>
											</div>
											<a href="page-article.html" class="promo-slide__thumbnail thumbnail">
												<img src="img/promo/1.jpg" alt="">
											</a>
										</div>
									</article>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<article class="promo-slide">
										<div class="row align-horisontal-between row-nowrap">
											<div class="promo-slide__content">
												<div class="promo-slide__text">
													<h2>
														<a href="page-article.html"><strong>Допомога</strong><br> Для всіх постраждалих</a>
													</h2>
													<p>Всі деталі майбутньої взаємодії сторони наразі не розкривають. Однак партнери дійшли згоди щодо впровадження кращих</p>
												</div>
												<div>
													<a href="page-article.html" class="btn btn-secondary">
														<span>приєднатись</span>
													</a>
												</div>
											</div>

											<a href="page-article.html" class="promo-slide__thumbnail thumbnail">
												<img src="img/promo/2.jpg" alt="">
											</a>


										</div>
									</article>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<article class="promo-slide">
										<div class="row align-horisontal-between row-nowrap">
											<div class="promo-slide__content">
												<div class="promo-slide__text">
													<h2>
														<a href="page-article.html"><strong>Екзистенційна війна для Росії?</strong><br> Огляд західних медіа</a>
													</h2>
													<p>Всі деталі майбутньої взаємодії сторони наразі не розкривають. Однак партнери дійшли згоди щодо впровадження кращих практик та міжнародних стандартів для розвитку співробітництва та залучення інших представників до такої співпраці.</p>
												</div>
												<div>
													<a href="page-article.html" class="btn btn-secondary">
														<span>приєднатись</span>
													</a>
												</div>
											</div>

											<a href="page-article.html" class="promo-slide__thumbnail thumbnail">
												<img src="img/promo/3.jpg" alt="">
											</a>

										</div>
									</article>
								</div>
								<!-- //slide -->
							</div>
						</div>

						<div class="slider-pagination js-promo-slider-pagination"></div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect promo -->

			<section class="sect__articles-cards gutter-bottom">
				<h2 class="title container">
					Новини
					{% include '../parts/components/svg/title-arrow.svg' %}
				</h2>

				<div class="container">
					<div class="articles-cards articles-cards__homepage row align-horisontal-start">
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
					</div>

					<div class="text-center">
						<a href="page-blog.html" class="btn btn-simple">
							<span>всі новини</span>
						</a>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect article -->

			<section class="sect__services gutter-bottom">
				<div class="container container-sm-gutters">
					<div class="services row row-nowrap">
						<div class="services-description">
							<div>
								<h2>напрямки<br> роботи</h2>
								<p>Ми свідомі того, що часто людина потребує не лише матеріальної, фізичної чи технічної, а й перш за все морально-духовної допомоги і підтримки. Наша діяльність не обмежується територією, державою, нацією чи окремою релігією.</p>
							</div>
						</div>
						<div class="services-cards">
							<div class="service-card__wrapper col-w-25">
								<a href="page-service.html" class="service-card">
									<img src="img/services/1.svg" alt="">
									<h3 class="block-title">Допомога<br> ЗСУ</h3>
									<span class="service-card__btn">
										<span  class="btn btn-simple"><span>долучитись</span></span>
									</span>
								</a>
							</div>
							<!-- //service card -->

							<div class="service-card__wrapper col-w-25">
								<a href="page-service.html" class="service-card">
									<img src="img/services/2.svg" alt="">
									<h3 class="block-title">Гуманітарна<br> допомога</h3>
									<span class="service-card__btn">
										<span  class="btn btn-simple"><span>долучитись</span></span>
									</span>
								</a>
							</div>
							<!-- //service card -->

							<div class="service-card__wrapper col-w-25">
								<a href="page-service.html" class="service-card">
									<img src="img/services/3.svg" alt="">
									<h3 class="block-title">Допомога<br> освітнім<br> закладам</h3>
									<span class="service-card__btn">
										<span  class="btn btn-simple"><span>долучитись</span></span>
									</span>
								</a>
							</div>
							<!-- //service card -->

							<div class="service-card__wrapper col-w-25">
								<a href="page-service.html" class="service-card">
									<img src="img/services/4.svg" alt="">
									<h3 class="block-title">медична<br> гуманітарна<br> допомога</h3>
									<span class="service-card__btn">
										<span  class="btn btn-simple"><span>долучитись</span></span>
									</span>
								</a>
							</div>
							<!-- //service card -->
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect services -->

			<section class="sect__partners gutter-bottom">
				<h2 class="title container">
					Партнери
					{% include '../parts/components/svg/title-arrow.svg' %}
				</h2>

				<div class="container">
					<div class="partners row align-horisontal-between row-gutters">
						<div class="partner col-gutters"><img src="img/partners/1.png" alt=""></div>
						<div class="partner col-gutters"><img src="img/partners/2.png" alt=""></div>
						<div class="partner col-gutters"><img src="img/partners/3.png" alt=""></div>
						<div class="partner col-gutters"><img src="img/partners/4.png" alt=""></div>
						<div class="partner col-gutters"><img src="img/partners/5.png" alt=""></div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect partners -->

			{% include '../parts/components/support.html' %}

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>