{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-with-sidebar page-project">

			<section class="sect__page">

				<!-- Breadcrumbs -->
				<div class="breadcrumbs container">
					<nav  aria-label="Breadcrumbs" itemprop="breadcrumb">
						<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

							<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="1" itemprop="position">
								<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">
										<span>Головна</span>
									</span>
								</a>
							</li>

							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="2" itemprop="position">
								<a href="page-projects.html" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">Ініціативи</span>
								</a>
							</li>

							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="3" itemprop="position">
								<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">Евакуація з окупавих територій</span>
								</span>
							</li>
						</ul>
					</nav>
				</div>
				<!-- //Breadcrumbs -->

				<div class="container">

					<div class="page-content ">
						<aside class="aside project-aside">
							<div class="project-aside__links">
								<div class="project-support-link">
									<a href="#">
										<img src="img/services/2-accent.svg" alt="">
										Приєднатись<br> до ініціативи
									</a>
								</div>

								<div class="project-support-link">
									<a href="#" target="_blank">
										<img src="img/pdf.svg" alt="">
										Подивитись<br> звіт
									</a>
								</div>
							</div>
						</aside>

						<article class="article">
							<header class="article-header">
								<h1 class="article-title">ЧПОНАД 8 РОКІВ РОСІЯ ВОЮЄ З УКРАЇНОЮ. ЦЯ ТИРАНІЯ ЗАГРОЖУЄ ВСЬОМУ СВІТУ. УКРАЇНА ДАЄ ЇЙ ВІДСІЧ.</h1>

								<div class="row align-horisontal-between align-vertical-center">

									<div class="article-data">
										<p class="article-date">15 липня 2022, 11:24 </p>
										<p>4405 переглядів</p>
									</div>

									<p>аліса гармаш</p>
								</div>
							</header>

							<div class="content">
								<p>«Повернись живим» — фонд компетентної допомоги армії. З 2014 року наша ключова мета — зробити Збройні Сили ефективнішими, зберегти життя військових та системно протидіяти ворогові. Від початку повномасштабного вторгнення у лютому 2022 року ми збільшили допомогу армії в рази і підтримуємо захисників України, які змінили своє звичне життя та вийшли на лінію оборони.</p>
								<p>Фонд закуповує обладнання, яке допомагає рятувати життя військових, зокрема, тепловізійну оптику, квадрокоптери, автомобілі, системи захисту та розвідки.</p>

								<p>Наші інструктори займаються підготовкою саперів, операторів безпілотних літальних апаратів (БПЛА), артилеристів і снайперів, а ще навчають домедичній допомозі й сприяють проведенню секретних місій, про які ми обов’язково розповімо після перемоги.</p>

								<p>З 2014 року Фонд зібрав на потреби ЗСУ понад 3 мільярди гривень, або понад 110 мільйонів доларів, та підготував більше 10 тисяч висококваліфікованих військових фахівців.</p>

								<p>Ми розробляємо аналітику, яка стає основою майбутніх рішень держави в оборонній сфері, реалізуємо проєкти підтримки ветеранського підприємництва та спортивної реабілітації.</p>

								<p>Фонд має прозору фінансову звітність. Кожну пожертву та закупівлю можна відстежувати
								у режимі реального часу.</p>
								<img src="img/promo/1.jpg" alt="">
								<p>Велика кількість інструкторів уже задіяна на фронті, що дуже ускладнює навчання нових рекрутів. Також є проблеми з технікою і амуніцією, хоча і не такі критичні. Росія втратила до третини танків під час вторгнення, і змушена заміняти їх старішими зразками.</p>

								<p>Удари ЗСУ по тилових базах зберігання і складах боєприпасів за допомогою західної техніки теж виснажують російські запаси і сповільнюють дії росіян. Навіть те, що росіяни вдаються до наземних ударів за допомогою систем ППО С-300 говорить про те, що у них не вистачає ракет для таких цілей.</p>

								<p>Українське керівництво вважає, що росіяни перебувають в тимчасовому моменті слабкості, з якого треба скористатись, щоб починати контрнаступ на півдні. Навіть якщо росіяни не будуть відкинути з великих територій, контрнаступ збільшить бойовий дух українців і посилить впевненість їх західних партнерів.</p>

								<p>Також обережний оптимізм для України висловлюють аналітики американської RAND Corporation. На Заході є дві точки зору на те, що відбувається в Україні. Перша говорить про те, що Росія повільно, але впевнено просувається вперед, використовуючи свою перевагу в артилерії. Україна на межі виснаження, тому потрібно досягти якогось перемир’я, щоб ситуація не погіршилась ще більше.</p>
								<img src="img/promo/2.jpg" alt="">
							</div>
						</article>
					</div>

				</div>
				<!-- //container -->
			</section>
			<!-- //article -->

			{% include '../parts/components/support.html' %}

			<section class="sect__another-projects">
				<h2 class="title container">
					кейси з цього напрямку
					{% include '../parts/components/svg/title-arrow.svg' %}
				</h2>

				<div class="container">
					<div class="projects-cards row align-horisontal-start">
						{% include '../parts/components/project-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/project-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/project-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/project-card.html' %}
						<!-- //article card -->
					</div>
				</div>
				<!-- //container -->
			</section>

			




		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>