{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-blog">

			<section class="sect__promo gutter-bottom">

				<!-- Breadcrumbs -->
				<div class="breadcrumbs container">
					<nav  aria-label="Breadcrumbs" itemprop="breadcrumb">
						<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

							<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="1" itemprop="position">
								<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">
										<span>Головна</span>
									</span>
								</a>
							</li>



							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
								<meta content="2" itemprop="position">
								<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
									<span itemprop="name">Новини</span>
								</span>
							</li>
						</ul>
					</nav>
				</div>

				<!-- //Breadcrumbs -->


				<div class="container container-sm-gutters">

					<div class="promo-slider promo-slider__inner-page">

						<h1 class="title title-absolute">
							Новини
							{% include '../parts/components/svg/title-arrow.svg' %}
						</h1>

						<div class="swiper-container js-promo-slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<article class="promo-slide">
										<div class="row align-horisontal-between row-nowrap">
											<div class="promo-slide__content">
												<div class="promo-slide__text">
													<h2>
														<a href="page-article.html"><strong>Екзистенційна війна для Росії?</strong><br> Огляд західних медіа</a>
													</h2>
													<p>Всі деталі майбутньої взаємодії сторони наразі не розкривають. Однак партнери дійшли згоди щодо впровадження кращих практик та міжнародних стандартів для розвитку співробітництва та залучення інших представників до такої співпраці.</p>
												</div>
												<div>
													<a href="page-article.html" class="btn btn-secondary">
														<span>Читати</span>
													</a>
												</div>
											</div>
											<a href="page-article.html" class="promo-slide__thumbnail thumbnail">
												<img src="img/promo/1.jpg" alt="">
											</a>
										</div>
									</article>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<article class="promo-slide">
										<div class="row align-horisontal-between row-nowrap">
											<div class="promo-slide__content">
												<div class="promo-slide__text">
													<h2>
														<a href="page-article.html"><strong>Допомога</strong><br> Для всіх постраждалих</a>
													</h2>
													<p>Всі деталі майбутньої взаємодії сторони наразі не розкривають. Однак партнери дійшли згоди щодо впровадження кращих</p>
												</div>
												<div>
													<a href="page-article.html" class="btn btn-secondary">
														<span>Читати</span>
													</a>
												</div>
											</div>

											<a href="page-article.html" class="promo-slide__thumbnail thumbnail">
												<img src="img/promo/2.jpg" alt="">
											</a>


										</div>
									</article>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<article class="promo-slide">
										<div class="row align-horisontal-between row-nowrap">
											<div class="promo-slide__content">
												<div class="promo-slide__text">
													<h2>
														<a href="page-article.html"><strong>Екзистенційна війна для Росії?</strong><br> Огляд західних медіа</a>
													</h2>
													<p>Всі деталі майбутньої взаємодії сторони наразі не розкривають. Однак партнери дійшли згоди щодо впровадження кращих практик та міжнародних стандартів для розвитку співробітництва та залучення інших представників до такої співпраці.</p>
												</div>
												<div>
													<a href="page-article.html" class="btn btn-secondary">
														<span>Читати</span>
													</a>
												</div>
											</div>

											<a href="page-article.html" class="promo-slide__thumbnail thumbnail">
												<img src="img/promo/3.jpg" alt="">
											</a>

										</div>
									</article>
								</div>
								<!-- //slide -->
							</div>
						</div>

						<div class="slider-pagination js-promo-slider-pagination"></div>
					</div>

				</div>
				<!-- //container -->
			</section>
			<!-- //sect promo -->

			<section class="sect__articles-cards gutter-bottom">

				<div class="container">

					<div class="categories row align-horisontal-start row-nowrap">
						<div class="categories-description">
							<h2>категорії новин:</h2>
						</div>
					

						<ul class="categories-list">
							<li><span class="is-active">Всі</span></li>
							<li><a href="#">допомога зсу</a></li>
							<li><a href="#">медична допомога</a></li>
							<li><a href="#">освіта</a></li>
							<li><a href="#">гуманітарна підтримка</a></li>
							<li><a href="#">загальні новини</a></li>
							<li><a href="#">фонд у смі</a></li>
						</ul>
					</div>

					<div class="articles-cards row align-horisontal-start">
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
						{% include '../parts/components/article-card.html' %}
						<!-- //article card -->
					</div>

					<nav class="pagination">
						<ul>
							<li>
								<a href="#" class="pagination-link pagination-link__arrow">
									<svg  viewBox="0 0 26 24"  xmlns="http://www.w3.org/2000/svg">
										<path d="M25.0607 13.0607C25.6464 12.4749 25.6464 11.5251 25.0607 10.9393L15.5147 1.3934C14.9289 0.807611 13.9792 0.807611 13.3934 1.3934C12.8076 1.97919 12.8076 2.92893 13.3934 3.51472L21.8787 12L13.3934 20.4853C12.8076 21.0711 12.8076 22.0208 13.3934 22.6066C13.9792 23.1924 14.9289 23.1924 15.5147 22.6066L25.0607 13.0607ZM0 13.5H24V10.5H0V13.5Z" />
									</svg>
								</a>
							</li>
							<li><span class=" pagination-link is-active">1</span></li>
							<li><a href="#" class="pagination-link">2</a></li>
							<li><a href="#" class="pagination-link">3</a></li>
							<li>
								<a href="#" class="pagination-link pagination-link__arrow">
									<svg  viewBox="0 0 26 24"  xmlns="http://www.w3.org/2000/svg">
										<path d="M25.0607 13.0607C25.6464 12.4749 25.6464 11.5251 25.0607 10.9393L15.5147 1.3934C14.9289 0.807611 13.9792 0.807611 13.3934 1.3934C12.8076 1.97919 12.8076 2.92893 13.3934 3.51472L21.8787 12L13.3934 20.4853C12.8076 21.0711 12.8076 22.0208 13.3934 22.6066C13.9792 23.1924 14.9289 23.1924 15.5147 22.6066L25.0607 13.0607ZM0 13.5H24V10.5H0V13.5Z" />
									</svg>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect article -->

			{% include '../parts/components/support.html' %}


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>