<!-- Popup -->
<div class="popup js-popup js-support-popup">
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<!-- Popup content-->
			<div class="popup__content">
				<div class="row align-horisontal-between align-vertical-center row-nowrap">
					<h2 class="title">
						ОБЕРІТЬ НАПРЯМОК ДОПОМОГИ
						{% include 'svg/title-arrow.svg' %}
					</h2>
					<button class="btn-close js-close-popup-btn" type="button">
						{% include 'svg/close.svg' %}
					</button>
				</div>

				<ul class="categories-projects">
					<li>
						<a href="#">
							<img src="img/services/1-accent.svg" alt="">
							ЗСУ
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/services/2-accent.svg" alt="">
							<span>Гуманітарна</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/services/3-accent.svg" alt="">
							<span>Освіта</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/services/4-accent.svg" alt="">
							<span>Медицина</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->