<div class="project-card__wrapper col-w-25">
	<article class="project-card">
		<a href="page-project.html" class="article-card__thumbnail thumbnail">
			<img src="img/promo/1.jpg" alt="">
		</a>
		<div class="project-card__content">
			<p class="project-category">допомога зсу</p>
			<h3 class="project-card__title">
				<a href="page-project.html">Культурний та духовний розвиток</a>
			</h3>
			<div class="project-card__preview">
				<p>Своєю діяльністю Фонд сприяє розвитку культури, в тому числі реалізує програми національно-культурного розвитку</p>
			</div>
		</div>
	</article>
</div>