.breadcrumbs
	margin-bottom 18px
	li
		display inline-block
		font 13px $Med
		text-transform uppercase
		&:after
			content '>'
			color $light-text-color
			display inline-block
			transform translateY(-1px)
		&:last-child
			&:after
				display none
	a
		color $light-text-color
		&:hover
			color $accent-color
		
		
	.is-active
		color $secondary-color
		text-transform uppercase