<footer class="footer">
	<div class="container">
		<div class="support row align-vertical-center align-horisontal-center row-nowrap">
			<a href="#" class="btn">
				<span>підтримати</span>
			</a>

			<p class="support-text">Будемо раді<br> вашій підтримці</p>
		</div>

		<div class="footer-content">
			<div class="row align-horisontal-between">
				<div class="footer-navs">
					<div class="row footer-navs__row row-gutters row-nowrap">
						<nav class="footer-nav col-gutters">
							<p class="footer-nav__title">Інформація</p>
							<ul>
								<li><a href="#">Про фонд</a></li>
								<li><a href="#">Місія та цінності</a></li>
								<li><a href="#">Історія</a></li>
								<li><a href="#">Команда</a></li>
								<li><a href="#">Партнери</a></li>
							</ul>
						</nav>

						<nav class="footer-nav col-gutters">
							<p class="footer-nav__title">Ініціативи</p>
							<ul>
								<li><a href="#">Допомога ЗСУ</a></li>
								<li><a href="#">Допомога освітнім закладам</a></li>
								<li><a href="#">Гуманітарна допомога</a></li>
								<li><a href="#">Медична гуманітарна допомога</a></li>
							</ul>
						</nav>

						<nav class="footer-nav col-gutters">
							<p class="footer-nav__title">Додатково</p>
							<ul>
								<li><a href="#">Контакти</a></li>
								<li><a href="#">Звітність</a></li>
								<li><a href="#">Договір оферти</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="subscribe">

					<div class="subscribe-text">
						<p class="block-title">підпишіться на нас</p>
						<p>Ми надсилатимемо вам найважливіші матеріали та звіти. </p>
					</div>

					<div class="subscribe-form">
						<form>
							<fieldset class="subscribe-input__group">
								<input type="email" name="email" class="subscribe-input" placeholder="Ваш Е-mail" required>
								<span></span>
								<button class="btn-submit" type="submit">
									<svg  viewBox="0 0 26 24"  xmlns="http://www.w3.org/2000/svg">
										<path d="M25.0607 13.0607C25.6464 12.4749 25.6464 11.5251 25.0607 10.9393L15.5147 1.3934C14.9289 0.807611 13.9792 0.807611 13.3934 1.3934C12.8076 1.97919 12.8076 2.92893 13.3934 3.51472L21.8787 12L13.3934 20.4853C12.8076 21.0711 12.8076 22.0208 13.3934 22.6066C13.9792 23.1924 14.9289 23.1924 15.5147 22.6066L25.0607 13.0607ZM0 13.5H24V10.5H0V13.5Z" />
									</svg>
								</button>
							</fieldset>
							<p class="subscribe-form__notice">Натискаючи на кнопку, ви погоджуєтеся на обробку персональних даних і погоджуєтесь з політикою конфіденційності.</p>
						</form>
					</div>

					
					<div class="subscribe-success">


						<svg class="subscribe-success__ic" viewBox="0 0 140 140"  xmlns="http://www.w3.org/2000/svg">
							<circle cx="70" cy="70" r="68.5" />
							<path d="M39 79.0532L63.566 107H69.0252L101 33"/>
						</svg>

						<p class="block-title">Дякуємо!</p>
						<p>Ваша заявка на підписку успішно надіслана</p>
						
						<button class="btn-close js-close-success-btn" type="button">

							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve">
								<path  d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312 c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312 l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937 c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"/>
							</svg>

						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</footer>


<a href="#" class="btn btn-secondary btn-help">
	<span>звернутись<br> по допомогу</span>
</a>
