{% include '../components/preloader.html' %}

<header class="header">
	<div class="container container-sm-gutters">
		<div class="row align-vertical-center header__row align-horisontal-between row-nowrap">

			<div class="logo-wrapper">
				<a href="index.html" class="logo">
					<img src="img/logo.svg" alt="">
					<h1 class="logo-title">Посмішка<br>Долі</h1>
				</a>

				<h2 class="logo-description hidden-mobile-xs">Міжнародний<br>благодійний<br>фонд</h2>
			</div>

			<div class="header-tablet-tools hidden-desktop visible-pre-tablet ">
				<div class="row row-nowrap align-vertical-center align-horisontal-end">
					<button type="button" class="btn hidden-tablet js-open-support-popup-btn">
						<span>підтримати</span>
					</button>

					<div class="hidden-tablet">
						{% include '../components/socials.html' %}
					</div>
					<div class="langs hidden-tablet">
						<ul>
							<li class="current-lang"><a href="#">Uk</a></li>
							<li><a href="#">Ru</a></li>
						</ul>
					</div>

					<button type="button" class="btn-hamburger js-open-menu-btn">
						<span></span>
						<span></span>
						<span></span>
					</button>

				</div>
			</div>
			

			<div class="nav-wrapper js-menu">

				<div class="nav-overlay"></div>



				<div class="nav-content">
					<div class="hidden-desktop visible-pre-tablet">
						<div class="logo-wrapper">
							<a href="index.html" class="logo">
								<img src="img/logo.svg" alt="">
								<p class="logo-title">Посмішка<br>Долі</p>
							</a>

							<p class="logo-description">Міжнародний<br>благодійний<br>фонд</p>
						</div>

						<button class="btn-close js-close-menu-btn " type="button">
							{% include '../components/svg/close.svg' %}
						</button>
					</div>
					

					

					<!-- NAV -->
					{% include '../components/nav.html' %}
					<!-- //NAV -->

					<button type="button" class="btn js-open-support-popup-btn">
						<span>підтримати</span>
					</button>

					{% include '../components/socials.html' %}
					

					<div class="langs hidden-pre-tablet">
						<ul>
							<li class="current-lang"><a href="#">Uk</a></li>
							<li><a href="#">Ru</a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</div>

</header>
