//  Fonts 
$Reg = 'RoundedMplus1c-Regular', Arial, sans-serif
$Med = 'RoundedMplus1c-Medium', Arial, sans-serif
$ExBold = 'RoundedMplus1c-ExtraBold', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Reg
$body-font-size = 16px
$body-line-height = 1.45

// Sizes
$container-width = 1950px
$container-gutters = 0 75px
$container-sm-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #2699D6
$secondary-color = #ED3EED
$text-color = #000
$light-text-color = #959595

$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff


$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .5
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========