.map-wrapper
	flex 1
	iframe
		display block
		width 100%
		height 100%
		
.contacts
	&-information
		padding-right 30px
		max-width 600px
		width 100%
		flex 1
		.title
			margin-bottom 75px
			
		div
			p
				margin-bottom 50px
				font-size 21px
				&:last-child
					margin-bottom 0
			a
				color $accent-color
				white-space nowrap
				font 36px $Med
				&:hover
					color $secondary-color
					
	.socials
		margin-top 75px
		
		a
			width 40px
			height 40px
					
.email
	display inline-block
	text-transform uppercase
	white-space nowrap
	color $basic-black-color
	font 32px $Med
	margin-top 75px
	&:hover
		color $accent-color
			